{% extends "base.html" %}

{% load staticfiles urls_tags i18n %}

{% block body_id %}static_home{% endblock %}

{% block all_content %}

    <section class="branding">
        <div class="container">
            <img src="{% static 'img/delving-logo-large.png' %}" class="center-block"/>
        </div>
    </section>

    <section class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-1of5">
                    <a href="/search" class="btn btn-info btn-circle btn-xl center-block">
                        Search
                    </a>
                </div>
                <div class="col-sm-2 col-sm-1of5">
                    <a href="/admin" class="btn btn-warning btn-circle btn-xl center-block">
                        Admin
                    </a>
                </div>
                <div class="col-sm-2 col-sm-1of5">
                    <a href="/narthex" class="btn btn-danger btn-circle btn-xl center-block">
                        Narthex
                    </a>
                </div>
                <div class="col-sm-2 col-sm-1of5">
                    <a href="/api/search/v1/" class="btn btn-success btn-circle btn-xl center-block">
                        API
                    </a>
                </div>
                <div class="col-sm-2 col-sm-1of5">
                    <a href="/snorql" class="btn btn-default btn-circle btn-xl center-block">
                        SPARQL
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
